---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async () => {
    const allPosts = await getCollection("blog");

    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filtredPost = allPosts.filter((post: any) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filtredPost },
        };
    });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={`Etiquetas: ${tag}`}>
    <p>Publicaciones etiquetadas con {tag}</p>
    <ul class="tags">
        {
            posts.map((post) => (
                <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
